$clr-primary: #072922;
$clr-primary-1: #09352c;
$clr-primary-2: #0b4135;
$clr-primary-3: #06241d;
$clr-primary-4: #051e18;
$clr-primary-5: #03120f;
$transition: all 0.3s linear;
$box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.9);
$radius: 10px;
$spacing: 0.25rem;
$clr-white: #fff;
