/* 
FONT-FAMILY
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Red+Hat+Mono:wght@400;600;700&display=swap');

/* 
RESET
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
VARIABLES
*/
:root {
  --clr-primary: #072922;
  --clr-primary-1: #09352c;
  --clr-primary-2: #0b4135;
  --clr-primary-3: #06241d;
  --clr-primary-4: #051e18;
  --clr-primary-5: #03120f;
  transition: all 0.3s linear;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.9);
  --radius: 10px;
  --spacing: 0.25rem;
  --clr-white: #fff;
}

/* 
GLOBAL STYLES
*/
body {
  font-family: 'Red Hat Mono', monospace;
  background: var(--clr-primary-2);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
.btn {
  text-transform: uppercase;
  padding: 0.375rem 0.775rem;
  display: inline-block;
  font-weight: 700;
}
