.nav {
  height: 6rem;
  display: flex;
  align-items: center;
  color: #fff;

  h3 {
    letter-spacing: 0.2rem;
  }
  .letter {
    color: #25d9b5;
  }

  .navcenter {
    width: 90vw;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navlinks {
    display: flex;
    gap: 1rem;

    li {
      font-size: 1.3rem;
      transition: all 0.3s linear;
      cursor: pointer;
    }
    li:hover {
      transform: translateY(-5px);
    }
  }
}
